REACT_APP_SUPABASE_URL=https://boehmocvxhrgmecvpqew.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJvZWhtb2N2eGhyZ21lY3ZwcWV3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzMjE3NjAsImV4cCI6MjA5Mzg5Nzc2MH0.WL2eDBSMpCCKflj9C7aMuz02sQ1X5O1gRDHRFYnO5sY
